/* footer wrap  */
.footer-wrap {
    width: 80%;
    height: 40vh;
    background-color: #1d1d1e;
    padding: 7vh 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
  }
  .footer-img-wrap {
    width: 30%;
    display: block;
  }
  .footer-icon-wrap {
    width: 70%;
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
  }
  .footer-link-wrap {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
  }
  .footer-wrap{
    flex-wrap: wrap;
    
  }
  .footer-link-wrap span {
    display: block;
    font-size: 14px;
    line-height: 35px;
  }
  @media only screen and (max-width: 750px) {
    .footer-wrap{
      height: auto;
      justify-content: space-between;
    }
    .footer-link-wrap{
      width: 100%;
      justify-content: space-between;
    }
    .footer-link-wrap div{
      width: 40%;
      padding: 10px 0;
    }
    .footer-link-wrap p{
      font-size: 20px;
      font-weight: 500;
    }
  }