@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;700&display=swap');
body {
  font-family: "Red Rose", cursive;
  margin: 0;
  padding: 0;
}
#root{
  margin: 0;
  padding: 0;
  
}
/* header */

button, input, textarea {
  font-family:  "Red Rose", cursive;
}
.categories-ul {
  width: 90%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories-ul li {
  list-style: none;
  font-size: 15px;
  line-height: 24px;
  color: #434343;
  cursor: pointer;
}
.location-button {
  width: auto;
  padding: 10px 20px;
  background-color: transparent;
  border: 0.5px solid #b4b4b4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  font-family: "Red Rose", cursive;
}
.sliders-h {
  font-size: 15px;
  padding: 0 5px;
  font-weight: 100;
}
@media only screen and (max-width: 768px) {
  .categories-ul {
    width: 100%;
    padding: 10px 0;
    flex-wrap: wrap;
  }
  .categories-ul li{
    margin: 0 15px;
line-height: 40px;
  }
}
